<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Agregar Movimiento</title>
  </head>
  <body>
    <h1>Agregar Movimiento</h1>
    <form th:action="@{/movements}" th:object="${movimiento}" method="post">
      <label for="concepto">Concepto</label>
      <input type="text" id="concepto" th:field="*{concepto}">
      <label for="monto">Monto</label>
      <input type="number" id="monto" th:field="*{monto}">
      <label for="usuario">Usuario</label>
      <select th:field="*{usuario}" id="usuario" required>
        <option th:each="usuario : ${usuarios}" th:text="${usuario.nombre}" th:value="${usuario.id}"></option>
      </select>
      <button> Crear Movimiento</button>
    </form>
  </body>
</html>