<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movimientos</title>
    </head>
    <body>
        <h1>Movimientos</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Monto</th>
                <th>Concepto</th>
                <th>Usuario</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <tr th:each="movimiento : ${movimientos}">
                <td th:text="${movimiento.id}"></td>
                <td th:text="${movimiento.monto}"></td>
                <td th:text="${movimiento.concepto}"></td>
                <td th:text="${movimiento.usuario.nombre}"></td>
                <td><button type="button" ><a th:href="@{/movement/{id}(id=${movimiento.id})}">Editar</a></button></td>
                <td><button type="button" ><a th:href="@{/deleteMovement/{id}(id=${movimiento.id})}">Eliminar</a></button></td>
            </tr>
        </table>
        <br/>
        <label for="total">Total</label>
        <input type="number" readonly th:value="${total}" id="total">
        <br/>
        <a th:href="@{/adMovement}">Agregar Movimiento</a>
        <a th:href="@{/enterprises}">Ver Empresas</a>
        <a th:href="@{/movements}">Ver Empleados</a>
    </body>
</html>